<!--ナビゲーションの構成要素 -->
<div class="container">
    <a class ="navbar-brand" href="">＃推し</a>
    <button class ="navbar-toggler" type="button"
     data-bs-toggle="collapse" data-bs-target="#navbar-content"
     aria-controls="navbar-content" aria-expanded="false"
     aria-label="Toggele navigation">
     <!-- 切り替えボタンの呼び出し-->
     <span class="navbar-toggler-icon"></span><!-- 口（ハンバーガーアイコン）の表示　-->
    </button>
    <%= render 'layouts/nav/mockup-navbar-navmenu' %>
</div>