<nav class="navbar navbar-expand-md navbar-light sticky-top p-4 " style="background-color: pink">
        <%=render 'layouts/nav/mockup-navbar-subcompornent' %>
</nav>
<!-- 大きさ パソコン以上は全部出るが、タブレット・スマホだとハンバーガーアイコンになるはず。-->
<!--ナビゲーションのカラーは桃色。デザインは全体的に暖色にするべし -->



