<!--アップデート情報について-->
<!-- 分離して書きやすくする-->
<div class="py-4">
    <section class="news">
        <div class='container'>
            <div class='row'>
                <div class='col-md-2'>
                    <h3>ニュース</h3>
                </div>
                <div class='com-md-10'>
                    <dl class='row'>
                    <!-- 日付は全て半角-->
                        <dt class='col-md-3'>更新日時</dt>
                        <dd class='col-md-9'>更新内容</dd>
                        <dt class='col-md-3'>2022年4月13日</dt>
                        <dd class='col-md-9'>ニュースの設置</dd>
                        <dt class='col-md-3'>2022年4月20日</dt>
                        <dd class='col-md-9'>お気に入り機能にエラーを確認したため、停止中。</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
</div>
