<!-- ホーム-->
<div class='py-4'>
    <div class='container'>
        <div id="homeSlides" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <!-- 3枚の写真はpixabayより引用-->
            <!--スワイプで画像切り替えできる-->
                <div class="carousel-item active">
                    <%= image_tag 'slide-0.jpg', class:'img-fluid',alt:'people' %>
                </div>
                <div class="carousel-item">
                    <%= image_tag 'slide-1.jpg', class:'img-fluid',alt:'people' %>
                </div>
                <div class="carousel-item">
                    <%= image_tag 'slide2.jpg', class:'img-fluid',alt:'people' %>
                </div>
            </div>
        </div>
    </div>
</div>



<%= render 'pages/update_news'%>

