<% provide(:title, 'character_show') %>
<h1><%=@character.chara_name %></h1>
      <%= image_tag @character.image if @character.image.attached? %>
<br>
<% if @elements.present? %>
   <% @elements.each do |element| %>
   
     <%= link_to "#{element.name}(#{element.taggings_count})",characters_path(element: element.name) %>
    <% end %>
    <% else %>
    <p>登録されているタグはありません
    <% end %>