<body>



<nav>
<!--ナビゲーション  -->
</nav>

<main>
<!-- メイン -->
    <div class="py-4">
     <!-- ホーム画面 -->
    </div>
    <div class="py-4">
      <!-- 利用方法 -->
    </div>
</main>

<footer class="py-4">
<!-- フッター -->
</footer>

</body>